@media (min-width:1024px) and (max-width:1279px){
	.search label{
		font-size:12px;
	}
}

@media (min-width:990px) and (max-width:1024px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 0;
		padding: 7px;
		margin-left: 13px;
	}
	
	.navbar-expand-lg .navbar-nav .nav-link.login-link {
		padding: 7px 10px;
		width: 109px;
		text-align: center;
	}
	
	.brands img {
		text-align: center;
		border: 1px #f1f2f2 solid;
		border-radius: 100px;
		max-width: 100%;
	}
	
	.col-lg-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 10.5%;
		flex: 0 0 10.5%;
		max-width: 10.5%;
	}
	
	
	.career-discription img {
		max-width: 100%;
	}
	
	.search label {
		text-align: left;
		padding-left: 5px;
		font-weight: bold;
		font-size: 13px;
	}
}

@media (max-width: 992px) {	
	main.py-4{
		padding-top: 0!important;
	}

	.navbar{
		background: #009fe3;
	}
	
	/*.page-content{
		margin-bottom:100px;
	}*/
	
	.add-logo-banner img {
		width: 100%;
	}
	
	.more-btns{
		display:block;
		width:100%;
		padding:10px;
		box-sizing:border-box;
	}
	
	.more-btns .btn{
		width:100%;
		max-width:100%;
		margin:5px 0;
	}
	
	.add-section img {
		width: 100%;
	}
	
	.login-mobile {
		display: block;
		position: absolute;
		right: 0;
		text-align: center;
		top: 2px;
	}
	
	.login-mobile a {
		font-size: 12px;
		padding: 0;
		color: #fff;
		text-transform: uppercase;
	}
	
	.login-mobile span {
		display: block;
		font-size: 12px;
		font-weight: bold;
		font-size: 10px;
	}
	
	.search {
		background: #009fe3;
		position: relative;
	}
	
	.navbar-brand {
		display: none;
	}
	
	.navbar-brand-mobile {
		display: block;
	}
	
	.career-discription img {
		width: 100%;
	}
}

@media (max-width:812px) {
	.footer-menu-mobile {
		display: block;
	}
	
	.footer-menu-desktop {
		display: none;
	}
	
	.footer-menu-mobile .col-md-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	
	.search-mobile-register {
		display: block;
		text-align: center;
	}
	
	.search-mobile-register ul {
		margin: 0;
		padding: 0;
	}
	
	.search-mobile-register ul li a {
		color: #fff;
		font-weight: bold;
	}
	
	.search-mobile-register ul li {
		list-style: none;
		text-transform: uppercase;
		display: inline-block;
		text-transform: uppercase;
		margin: 0 5px;
		text-decoration: underline;
		padding-bottom: -0;
	}
	
	.footer-menu .col-xs-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	
	.footer-menu .row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}
	
	.opportunities-box .product-logo {
		position: absolute;
		right: 10px;
		top: 20%;
	}
	
	.opportunities-box {
		padding: 20px 10px;
	}
	
	.badge-category {
		position: absolute;
		top: 10px;
		margin-top: 10px;
		left: 10px;
	}
	

	.produuct-title h2 {
		margin-top: 30px;
	}
	.career {
		display: none;
	}
	.form-control.form-select-custom {
		background-position: 94% 24px;
	}
	.search .form-control {
		height: calc(2.85rem + 2px);
		font-size: 1rem;
		line-height: 29px;
	}
	.search-filter {
		margin: 50px 10px 50px 10px;
	}
	.add-section img {
		width: 100%;
	}
	.add-logo-banner img {
		width: 100%;
	}

	.form-group img {
		top: 16px;
	}
	.search h1 {
		font-size: 28px;
		color: #ffd200;
	}
	.search:before {
		display: none;
	}
	.navbar-expand-lg .navbar-nav.navbar-nav-custom {
		background: #fff;
		border-radius: 100px;
	}
	.search label {
		display: none;
	}
	.search .form-group {
		margin-bottom: 35px;
	}
	.navbar-nav.navbar-nav-log {
		display: none;
	}
	.header {
		/*height: 50px;*/
		background: #009fe3;
	}
	.navbar-toggler {
		position: absolute;
		left: 0;
		top: 6px;
	}
	.btn.btn-search-submit {
		width: 100%;
		margin-top: 0;
		height: 48px;
	}
	.navbar {
		/*justify-content: center;*/
	}
	.newsletter {
		float: none;
		padding-bottom: 20px;
		text-align: center;
	}
	.brands img {
		max-width: 100%;
	}
	.footer-col {
		margin-bottom: 20px;
	}
	.footer {
		padding: 40px 30px;
		margin-top: 30px;
	}
	.social-icons {
		padding: 0 0 20px 0;
		text-align: center;
	}
	.newsletter {
		float: none;
	}
	.overview {
		margin: 0;
		height: auto;
		min-height: inherit;
		margin-bottom: 100px;
	}
	.integrate,
	.privacy-content {
		margin: 0;
	}
	.privacy-content {
		margin-bottom: 100px;
	}
	.overview .row {
		height: auto;
		min-height: inherit;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		margin-left: 0;
	}
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}
	.fixed-top {
		position: inherit;
	}
	.navbar-collapse {
		background: #fff;
		z-index: 9;
		margin-top: 10px;
		position: relative;
	}
	.navbar-nav {
		padding: 20px;
		padding-bottom: 0
	}
	.navbar-nav+.navbar-nav {
		padding-top: 0;
		padding-bottom: 20px;
	}
	.navbar-expand-lg .navbar-nav .nav-link,
	.navbar-expand-lg .navbar-nav .dropdown-menu .nav-link {
		color: #323232;
		margin: 0;
		display: inline-block;
	}
	.navbar-expand-lg .navbar-nav .dropdown .nav-link {
		display: block;
	}
	.dropdown-menu:before {
		display: none;
	}
	.header.static-page .nav-item.dropdown:hover .dropdown-toggle:before {
		display: none;
	}
	.header.static-page .scroll-nav .navbar-expand-lg .navbar-nav .nav-link,
	.header.static-page .scroll-nav .top-links a {
		color: #707070;
	}
	.header.static-page .navbar-expand-lg .navbar-nav .nav-link.upload-pdf {
		color: #fff;
	}
	.header.static-page .navbar-toggler {
		border: solid 1px #707070;
	}
	.header.static-page .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(112, 112, 112,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}
	.navbar .dropdown-menu {
		padding: 0;
		font-size: 14px;
		box-shadow: none;
		min-width: auto;
		position: static;
	}
	.header.static-page {
		margin-bottom: 25px;
	}
	.navbar .dropdown-menu .container {
		margin: 0;
	}
	.scroll-nav {
		background: none;
	}
	.navbar-collapse:before {
		content: '';
		position: absolute;
		top: -10px;
		left: 20px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #fff;
	}
	.dropdown .dropdown-toggle {
		position: relative;
	}
	.dropdown .dropdown-toggle:after {
		content: '\f067';
		position: absolute;
		top: 5px;
		right: 0;
		font-family: 'FontAwesome';
		display: block;
		border: none;
	}
	/*.dropdown.show .dropdown-toggle:after{
		content:'\f068';
	}*/
	.desktop-only {
		display: none;
	}
	.mobile-only {
		display: block;
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu .nav-link {
		border-bottom: solid 1px #e8e5e5;
		padding: 10px;
		padding-left: 30px;
		font-size: 14px;
	}
	.nav-link .la {
		font-size: 22px;
		top: 12px;
		left: 0;
	}
	.navbar-expand-lg .navbar-nav .mega-menu .dropdown-menu .nav-link {
		font-size: 14px;
	}
	.big-video.center-video {
		margin: 0;
	}
}


/* breakpoint and up - mega dropdown styles */

@media screen and (min-width: 992px) {
	.navbar {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.navbar .dropdown:hover .dropdown-menu,
	.navbar .dropdown .dropdown-menu:hover {
		display: block!important;
	}
}

@media (max-width: 740px) {
	.case-studies-widget {
		min-height: auto;
	}
	.search-filter {
		margin: 50px 20px 50px 20px;
	}
	.our-solutions-content h3 {
		margin-top: 20px;
	}
	.publication-content h2 br {
		display: none;
	}
	.dcatalog-features p {
		margin-bottom: 20px;
	}
	.many-others {
		margin-bottom: 30px;
	}
	.next-level-icons .nav-link:nth-child(2) {
		margin: 0;
		margin-bottom: 35px;
	}
	.next-level-icons .nav-link {
		display: block;
		width: 100%;
		margin-bottom: 35px;
	}
	.showstopper img {
		position: static;
	}
	.showstopper-content {
		padding: 20% 0;
	}
	.integrate {
		margin-top: 0;
	}
	.privacy-content {
		margin-top: 0;
	}
	.privacy {
		padding-bottom: 50px;
	}
	.integrate {
		padding-top: 50px;
	}
	.our-solutions-content {
		text-align: center;
		padding-left: 0;
	}
	.looking-for h2 {
		margin-top: 40px;
	}
	.looking-for p {
		margin-bottom: 40px;
	}
}

@media (max-width: 570px) {
	.login-with .btn {
		margin-bottom: 20px;
	}
	.login-form .text-right {
		text-align: left!important;
	}
}

@media (max-width: 540px) {
	.footer:after {
		display: none;
	}
	.col-sm-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@media (min-width: 720px) {
	.col-md-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 12.5%;
		flex: 0 0 12.5%;
		max-width: 12.5%;
	}
}


@media (min-width: 960px) {
	.col-lg-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 12.5%;
		flex: 0 0 12.5%;
		max-width: 12.5%;
	}
}

@media (min-width: 1140px) {
	.col-xl-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 12.5%;
		flex: 0 0 12.5%;
		max-width: 12.5%;
		margin: 0;
	}
}