.panel.last{
	padding-bottom:0;
	border-radius:7px 7px 0 0;
	border-bottom:0;
}

.standard-provider-title h2{
	font-size:30px;
	text-align:center;
}

.standard-providers{
	padding:15px 0;
}

.standard-providers-lef-add{
	margin-top:80px;
}

.search-box{
	position:relative;
}

.search-box .fa{
	position:absolute;
	left:20px;
	top:12px;
	color:#9c9c9c;
}

.standard-providers-box h2{
	font-size:18px;
}

.standard-providers-box h2 small{
	font-size:16px;
	font-weight:400;
}

.standard-providers-box .btn{
	width:140px;
	border:solid 1px #000;
	color:#000;
	margin:5px 0;
}

.standard-providers-box{
	border-bottom:solid 1px #d7d8d7;
	padding-bottom:10px;
	padding-top:20px;
}

.standard-providers-box-logo{
	float:left;
	margin-right:10px;
}

.standard-providers-box-content{
	overflow:hidden;
}

.standard-right-add{
	text-align:center;
}

@media (max-width:575px){
	.standard-providers-lef-add{
		margin-bottom:30px;
		text-align:center;
	}
	
	.sectors{
		padding-top:10px;
	}
	
	.provider-tabs a{
		width:165px;
	}
	
	.standard-right-add{
		padding-top:20px;
	}
}

@media (max-width:424px){
	.provider-tabs a{
		width:125px;
		font-size:12px;
		padding:10px 0;
	}
	
	.provider-tabs a.active{
		padding-bottom:11px;
	}
}