.product-dis{
	width:100%;
}

img{
	max-width:100%;
}

.page-providers .related-opportunities .more-btns{
	margin-top:40px;
}

.mt-0{
	margin-top:0;
}

.proivder-add{
	text-align:center;
	padding-bottom:20px;
	border-bottom:solid 1px #d7d8d7;
	margin:0 -20px;
	margin-bottom:20px;
}

.page-providers .more-btns{
	display:block;
	text-align:left;
}

@media (max-width:767px){
	.page-opportunity .opportunity-border{
		border-left:0;
	}
}